$bgColor: #e8f3fc;
$white: #ffffff;
$lightBlue: #2396ef;
$lightBlueBg: #cce6fb;
$lightGray: #505050;
$darkBlue: #3054aa;
$sidebarTextHover: #405d9f;
$sidebarText: #6c7894;
$darkText: #1d1d1d;
$cardLightBlue: #c3dbff;
$blue: #2892f0;
$darkBlueText: #284680;
$purple: #b16cff;
$black: #000000;
$green: #2bedb3;
$red: #ff6e6e;
$switchGray: #929ba3;
$switchBlue: #3e7ef7;
$controlsBorder: #4b65a2;
$linkColor: #3c80f7;
$buttonColor: #3f7df8;
$opacity50: 0.5;
