$bgColor: #e8f3fc;
$white: #ffffff;
$lightBlue: #2396ef;
$darkBlue: #3054aa;
$sidebarTextHover: #405d9f;
$sidebarText: #6c7894;
$darkText: #1d1d1d;
$cardLightBlue: #c3dbff;
$blue: #2892f0;
$purple: #b16cff;
$black: #000000;
$green: #2bedb3;
$red: #2bedb3;
$opacity50: 0.5;
