.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin-bottom: 24px;

  & > a {
    color: $linkColor;
    font-size: 14px;
  }
  & > p {
    font-size: 20px;
  }
}
.members {
  margin-bottom: 40px;
}
