.name {
  font-size: 24px;
  color: $lightGray;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > select {
    border: none;
    padding: 4px 12px;
    border: 1px solid rgb(255, 255, 255);

    &:focus {
      border: none;
      outline: none;
      border: 1px solid $black;
      border-radius: 8px;
    }
  }
}
.card {
  background-color: $white;
  border-radius: 16px;
  box-shadow: 2px 0 6px 0px #00000040;
  padding: 24px 20px;
}
.graph {
  margin-top: 20px;
}
